table,td {
	border: 1px solid;
}
	
/*Estilos Generales*/
header a{
	background:#025efc;
	color:#fff;
	display:inline-block;
	font-size: 15px;
	margin: 55px;
	padding: 10px 0px;
	text-align: center;
	width: 140px;
	text-decoration: none;
	box-shadow: 0px 3px 0 px #0caeae;


}
img{
	display:block;
	margin:auto;
	}
	
 .divchulo{
	 margin-top: 10px;
 }


.desp{
	background:#025efc;
	color:#fff;
	display:inline-block;
	font-size: 15px;
	margin: 55px;
	padding: 10px 0px;
	text-align: center;
	width: 140px;
	text-decoration: none;
	box-shadow: 0px 3px 0 px #0caeae;
}

 .desp ul{display:none;}
 .desp:hover ul{display:block;}
